@import "../../../assets/styles/variables.scss";

.login-img {
  width: 100%;
  height: 99vh;
}

.logo-img {
  height: 70px;
  width: 85px;
}

.login-forgot {
  color: $primary-gray-heading;
}

.login-button {
  background-color: $primary-btn-color;
  color: $primary-font-color;
}

.login-form {
  top: 9rem;
  margin-left: 7rem;
  text-align: center;
}

.login-background {
  background-image: url('../../../assets/images/loginBg.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 657px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.sign-up {
  color: $primary-btn-color;
}
@media screen and (max-width: 600px) {
  .login-form {
    top: 9rem;
    margin-left: 3rem;
    text-align: center;
  }

  .login-background {
    background-image: none;
    height: 657px;
  }

  .logo-img {
    height: 70px;
    width: 85px;
  }
}
@media screen and (min-width: 600px) {
  .login-form {
    top: 9rem;
    margin-left: 7rem;
    text-align: center;
  }

  .logo-img {
    height: 70px;
    width: 85px;
  }
}
@media only screen and (min-width: 768px) {
  .login-form {
    top: 9rem;
    margin-left: 7rem;
    text-align: center;
  }

  .logo-img {
    height: 70px;
    width: 85px;
  }
}
@media only screen and (min-width: 992px) {
  .login-form {
    top: 9rem;
    margin-left: 7rem;
    text-align: center;
  }

  .logo-img {
    height: 70px;
    width: 85px;
  }

}
