@import "../../../assets/styles/variables.scss";

.week-section {
  height: 77px;
  margin-top: 20px;
}

.month-section {
  height: 78px;
  margin-top: 20px;
}

.mar-bt {
  margin-bottom: 20px;
}

.pie-1 {
  min-width: 600px;
  height: 100%;

}

